@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>The hardware module exist in 2 versions. A version that is using a 2g simcard to transfer data to the server or a version that use the lorawan network.</p>
<p>The server is hosted on Amazon cloud</p>

