@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Heleneborgsgatan 5C<br />
    117 31 Stockholm<br />
    <abbr title="Phone">+46 (0) 736527182</abbr>
</address>

<address>
    <strong>Email:</strong> <a href="mailto:sebastien.dubos@gmail.com">sebastien.dubos@gmail.com</a><br />
</address>
