@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Heleneborgsgatan 5C<br />
    117 31 Stockholm<br />
    <abbr title="Phone">+46 (0) 736527182</abbr>
</address>

<address>
    <strong>Email:</strong> <a href="mailto:sebastien.dubos@gmail.com">sebastien.dubos@gmail.com</a><br />
</address>

<div class="row" style="max-height:100px !important">
    <div class="col-md-2">
        <div class="thumbnail">
            <img src="~/images/Profile.png" alt="..." class="img-thumbnail" style="max-height: 270px">
            <div class="caption">
                <h3>Sebastien</h3>
                <p>-Hardware conceptor</p>
                <p>-Software developer</p>
                <p><a href="mailto:sebastien.dubos@gmail.com" class="btn btn-success btn-sm" role="button">Contact</a></p>
            </div>
        </div>

    </div>

    <div class="col-md-2">
        <div class="thumbnail">
            <img src="~/images/defaultUser.png" alt="..." class="img-thumbnail" style="max-height: 270px">
            <div class="caption">
                <h3>Florin</h3>
                <p>-Software developer</p>
                <p>-Data manager</p>
                <p><a href="mailto:sebastien.dubos@gmail.com" class="btn btn-success btn-sm" role="button">Contact</a></p>
            </div>
        </div>

    </div>

    <div class="col-md-2">
        <div class="thumbnail">
            <img src="~/images/defaultUser.png" alt="..." class="img-thumbnail" style="max-height: 270px">
            <div class="caption">
                <h3>Mikeldi</h3>
                <p>-User interface designer</p>
                <p></p>
                <p><a href="mailto:sebastien.dubos@gmail.com" class="btn btn-success btn-sm" role="button">Contact</a></p>
            </div>
        </div>

    </div>
</div>