@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Heleneborgsgatan 5C<br />
    117 31 Stockholm<br />
    <abbr title="Phone">+46 (0) 736527182</abbr>
</address>

<address>
    <strong>Email:</strong> <a href="mailto:sebastien.dubos@gmail.com">sebastien.dubos@gmail.com</a><br />
</address>

<div class="row">
    <div class="card" style="width: 12rem;">
        <img class="card-img-top" src="~/images/defaultUser.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Sebastien</h5>
            <p class="card-text">Hardware conceptor</p>
            <p class="card-text">Software developer</p>
            <p><a href="mailto:sebastien.dubos@gmail.com" class="btn btn-success" role="button">Contact</a></p>
        </div>
    </div>

    <div class="card" style="width: 12rem;">
        <img class="card-img-top" src="~/images/defaultUser.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Florin</h5>
            <p class="card-text">Software developer</p>
            <p class="card-text">Data manager</p>
            <p><a href="mailto:panaitdaniel87ro@gmail.com" class="btn btn-success" role="button">Contact</a></p>
        </div>
    </div>

    <div class="card" style="width: 12rem;">
        <img class="card-img-top" src="~/images/defaultUser.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Florin</h5>
            <p class="card-text">User interface designer</p>
            <p><a href="mailto:mikeldi@gmail.com " class="btn btn-success" role="button">Contact</a></p>
        </div>
    </div>
</div>