@{
    ViewData["Title"] = "Home Page";
}

  <section class="py-5 parallax-background pic1">
    <div class="container">
        <h1 class="display-4" style="z-index:110; margin-top:30px;color:whitesmoke">IOT simless solution</h1>
        <p class="lead" style="color:whitesmoke">GPS tracker with motion detector that help you to protect your bike </p>
      
        <p class="lead">

            <div style="height:150px;margin-top:100px;">
                <video controls="controls" autoplay="autoplay" loop="loop" style="border:solid;border-color:white;border-width:1px;width:inherit; height:inherit;float:left;margin:1px">
                    <source src="~/images/Antea25_clip.mp4" type="video/mp4" />
                </video>
            </div>

            <hr class="my-4">

            <button style="margin-right:5px;margin-left:5px" type="button" class="btn btn-labeled btn-primary" onclick="location.href='@Url.Action("Login", "Account")'">
                <span class="btn-label btn-lg">LOGIN</span>
            </button>

            <button style="margin-right:5px;margin-left:5px" type="button" class="btn btn-labeled btn-info" onclick="location.href='@Url.Action("Contact", "Home")'">
                <span class="btn-label btn-lg">CONTACT</span>
            </button>
    </div>
</section>

<section class="py-5 ">
    <div class="container">
        <h1>Multi devices tracking dashboard</h1>
        <p class="lead">Position, speed, historic gps position can be mapped</p>
        <p>Alarm and notification direclty sent to your mobile phone</p>
    </div>
</section>

<section class="py-5 parallax-background pic2" >
    <!-- <img src="~/images/mapAntea25.png" /> -->
</section>

<section class="py-5">
    <div class="container">
        <h1>GSM and Simless devices</h1>
        <p class="lead"></p>
    </div>
</section>

<section class="py-5 parallax-background pic3" >
    <div class="container">
        <img src="~/images/prototype.jpg" width="300" style="margin-bottom:20px;" />
        <div>
            <button style="margin-right:5px;margin-left:5px" type="button" class="btn btn-labeled btn-primary btn-sm" onclick="location.href='@Url.Action("About", "Home")'">
                <span class="btn-label btn-lg">Learn more</span>
            </button>
        </div>
    </div>
</section>




