@{
    ViewData["Title"] = "Home Page";
}

<style>
    img {
        max-width: 100%;
        height: auto;
    }
</style>

<div class="page-header" style="margin-top:10px; margin-bottom:10px">
    <h1>IOT system <small>simless GPS trackers</small></h1>
</div>


@*<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="4000">
        <ul class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
        </ul>
        <div class="carousel-inner" role="listbox" style="padding-bottom:0px">
            <div class="item active" style="height:100px;">
                <div class="carousel-caption" role="option">
                    <h2 style="color:#2c3e50">
                        Tired to get your bike stolen ?
                    </h2>
                </div>
            </div>
            <div class="item" style="height:100px;">
                <div class="carousel-caption" role="option">
                    <h2 style="color:#2c3e50">
                        Always keep an eye on it...
                    </h2>
                </div>
            </div>
        </div>
        <a class="left" href="#myCarousel" role="button" data-slide="prev" style="background-color:transparent;float:left">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right" href="#myCarousel" role="button" data-slide="next" style="background-color:transparent;float:right">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>*@

<div class="jumbotron" style="background-image:url('images/gamlastan.jpg'); height:600px">
    <div class="container">
        <h1 class="display-4" style="z-index:110; margin-top:30px;color:whitesmoke">IOT simless solution</h1>
        <p class="lead" style="color:whitesmoke">GPS tracker with motion detector that help you to protect your bike </p>
        <hr class="my-4">
        <p class="lead">

            <div style="height:150px;margin-top:100px;">
                <video controls="controls" autoplay="autoplay" loop="loop" style="border:solid;border-color:white;border-width:1px;width:inherit; height:inherit;float:left;margin:1px">
                    <source src="~/images/Antea25_clip.mp4" type="video/mp4" />
                </video>
            </div>

            <hr class="my-4">

            <button style="margin-right:5px;margin-left:5px" type="button" class="btn btn-labeled btn-primary" onclick="location.href='@Url.Action("Login", "Account")'">
                <span class="btn-label btn-lg">LOGIN</span>
            </button>

            <button style="margin-right:5px;margin-left:5px" type="button" class="btn btn-labeled btn-info" onclick="location.href='@Url.Action("Contact", "Home")'">
                <span class="btn-label btn-lg">CONTACT</span>
            </button>

    </div>
</div>

<div class="jumbotron">
    <div class="container-fluid">
        <h2>Multi devices tracking dashboard</h2>
        <div class="text-center"><img src="~/images/mapAntea25.png" style="margin-bottom:60px;box-shadow: 10px 10px 5px #808080" /></div>
        <div>
            <button style="margin-right:5px;margin-left:5px" type="button" class="btn btn-labeled btn-primary btn-sm" onclick="location.href='@Url.Action("About", "Home")'">
                <span class="btn-label btn-lg">Learn more</span>
            </button>

        </div>
    </div>
</div>

<div class="jumbotron" style="background-image:url('images/splash.jpg');">
    <div class="container">
        <h2 style="color:whitesmoke">GSM and Simless devices</h2>
        <img src="~/images/prototype.jpg" width="300" style="margin-bottom:20px;" />
        <div>
            <button style="margin-right:5px;margin-left:5px" type="button" class="btn btn-labeled btn-primary btn-sm" onclick="location.href='@Url.Action("About", "Home")'">
                <span class="btn-label btn-lg">Learn more</span>
            </button>

        </div>

    </div>
</div>

