Antea25/obj/Antea25.csproj.nuget.cache
Antea25/obj/Antea25.csproj.nuget.g.props
Antea25/obj/Antea25.csproj.nuget.g.targets
Antea25/obj/Debug/netcoreapp2.0/Antea25.csproj.CoreCompileInputs.cache
Antea25/obj/project.assets.json
Antea25.zip
Antea25/Properties/launchSettings.json
Antea25/bin/Debug/netcoreapp2.0/Antea25.dll
Antea25/bin/Debug/netcoreapp2.0/Antea25.pdb
Antea25/obj/Debug/netcoreapp2.0/Antea25.dll
Antea25/obj/Debug/netcoreapp2.0/Antea25.pdb
Antea25/obj/Debug/netcoreapp2.0/Antea25.csproj.CoreCompileInputs.cache
Antea25/bin/Debug/netcoreapp2.0/Antea25.deps.json
Antea25/bin/Debug/netcoreapp2.0/Antea25.dll
Antea25/bin/Debug/netcoreapp2.0/Antea25.pdb
Antea25/bin/Debug/netcoreapp2.0/Antea25.runtimeconfig.dev.json
Antea25/obj/Antea25.csproj.nuget.cache
Antea25/obj/Antea25.csproj.nuget.g.props
Antea25/obj/Antea25.csproj.nuget.g.targets
Antea25/obj/Debug/netcoreapp2.0/Antea25.dll
Antea25/obj/Debug/netcoreapp2.0/Antea25.csproj.CoreCompileInputs.cache
Antea25/obj/project.assets.json
Antea25/obj/Debug/netcoreapp2.0/Antea25.pdb
Antea25/obj/Debug/netcoreapp2.0/UserSecretsAssemblyInfo.cs
