@{
    ViewData["Title"] = "Home Page";
}
@section Styles{ 
<style>
    .html, body, #wrap, .body-content {
        height: 100% !important;
    }
    .body-content {
        height: calc(100% - 90px)!important;
    }
    #map{
        height:100%;
        width:100%;
    }
</style>
    }
<div ng-app="MyApp" ng-controller="locController" class="custom-container container-fluid" style="padding:0!important;height:100%">

    <div  id="map">

    </div>

    <div id="tool-container">

        <div id="select-tracked-object-container" ng-class="{active:trackedObjectToolActive,inactive:trackedObjectToolActive == false}">
            <div id="select-tracked-object-trigger" ng-click="trackedObjectToolClicked()">
                <a href="#" title="Select object to track"></a>
            </div>
            <select class="form-control" ng-model="selectedDevice" ng-options="p.deviceDescription for p in deviceList" ng-change="startLiveTracking()"></select>
        </div>

        <div style="clear:both;  margin-bottom:64px;"></div>
        <div id="live-tracking-container" ng-class="{active:liveTrackingToolActive,inactive:liveTrackingToolActive == false}">
            <div id="live-tracking-trigger" ng-click="liveTrackingToolClicked()">
                <a href="#" title="Live tracking"></a>
            </div>
            <div class="tool-inner-container">
                <div class="row" >
                    <span ng-show="liveLoading == true" id="live-loading-image"></span>
                </div>
                <div class="row">
                    <div class="col-xs-8">
                        <div class="row">
                            <div>
                                <span style="margin-left:60px"><b>{{selectedDevice.deviceDescription}}</b></span>
                            </div>
                        </div>
                        <div class="row">
                            <div >
                                <div class="live-count-select-container" style="margin-left:60px !important">
                                    Last
                                    <select class="form-control live-count-select" ng-model="liveCount" ng-options="n for n in liveCounts" ng-change="liveTrackingChanged()"></select>
                                    locations
                                </div>
                           
                            </div>
                        </div>


                    </div>
                    <div class="col-xs-4 start-stop-btns">
                        <button ng-show="!liveIsStopped" class="btn btn-sm" ng-click="stopLiveTracking()"><i class="glyphicon glyphicon-stop"></i> Stop</button>
                        <button ng-show="liveIsStopped" class="btn btn-sm" ng-click="startLiveTracking()"><i class="glyphicon glyphicon-play"></i> Start</button>
                    </div>
                </div>


            </div>
        </div>
        
        <div style="clear:both;  margin-bottom:64px;"></div>
        <div id="history-tracking-container" ng-class="{active:historyTrackingToolActive,inactive:historyTrackingToolActive == false}">
            <div id="history-tracking-trigger" ng-click="historyTrackingToolClicked()">
                <a href="#" title="History Route"></a>
            </div>
            <div class="tool-inner-container">
                <div class="row" id="history-loading-container">
                    <span ng-show="historyLoading == true" id="history-loading-image"></span>
                </div>
                <div class="row">
                    <div class="col-xs-8">
                        <div class="row">
                            <div class="col-xs-12">
                                <span style="margin-left:60px"><b>{{selectedDevice.deviceDescription}}</b></span>
                            </div>
                        </div>
                        <div class="from-to-container">
                            <div class="row" style="margin-left:20px !important">
                                <div class="col-xs-3" >
                                    from
                                </div>
                                <div class="col-xs-9 margin-small" >
                                    <div class='input-group date history-datepicker' id="history-datepicker-from">
                                        <input type='text' class="form-control" ng-model="historyStart" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div style="clear:both;  margin-bottom:1em;"></div>
                            <div class="row" style="margin-left:20px !important">
                                <div class="col-xs-3">
                                    to
                                </div>
                                <div class="col-xs-9 margin-small">
                                    <div class='input-group date history-datepicker' id="history-datepicker-to">
                                        <input type='text' class="form-control " ng-model="historyEnd" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>
                    <div class="col-xs-4 start-stop-btns" style="margin-top:85px">
                        <button class="btn btn-sm" ng-click="getHistoryRoute()"><i class="glyphicon glyphicon-upload"></i> Load</button>
                    </div>
                </div>


            </div>

        </div>
    </div>

    @*<div class='col-sm-6'>
            <div class="row">
                <div class="col-sm-3">
                    <select class="mySelect form-control" ng-model="selectedDevice" ng-options="p.deviceDescription for p in deviceList" ng-change="startLiveTracking()" style="max-width: 250px"></select>
                </div>
                <div class="col-sm-9">
                    <ul uib-pagination total-items="bigTotalItems" ng-model="bigCurrentPage" items-per-page="itemsPerPage" max-size="maxSize" class="pagination-sm navbar-inverse" boundary-links="true" force-ellipses="true" ng-click="pagination()" style="margin-bottom: 7px; margin-top: 7px"></ul>
                </div>
            </div>

            <div class="row">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Device</th>
                            <th>Time</th>
                            <th>Day</th>
                            <th>Latitude</th>
                            <th>Longitude</th>
                            <th>Map</th>
                        </tr>
                    </thead>
                    <tbody>
                         <tr ng-repeat="position in gpsPositionList|filter : f " ng-cloak>
                        <tr ng-repeat="position in gpsPositionList" ng-cloak>
                            <td>{{position.deviceId}}</td>
                            <td>{{position.gpsPositionDate |date : "H:mm:ss" }}</td>
                            <td>{{position.gpsPositionDate |date : "dd/MM/y" }}</td>
                            <td>{{position.gpsPositionLatitude}}</td>
                            <td>{{position.gpsPositionLongitude}}</td>
                            <td ng-if="position.clicked"><span class="btn-label" style="color:green;cursor:pointer" uib-tooltip="Remove from the map" uib-tooltip-placement="left" ng-click="removeOnMap($index, position)"><i class="glyphicon glyphicon-map-marker"></i></span></td>
                            <td ng-if="!position.clicked"><span class="btn-label" style="color:darkorange;cursor:pointer" uib-tooltip="Show on the map" uib-tooltip-placement="left" ng-click="showOnMap($index)"><i class="glyphicon glyphicon-map-marker"></i></span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>*@

</div>
@section Scripts {
    <script src="~/js/ol.js"></script>
    <script src="~/js/map/openlayersWrapper.js"></script>
    <script src="~/app/app.js" asp-append-version="true"></script>
    <script src="~/app/apiService.js" asp-append-version="true"></script>
    <script src="~/app/loc/index.js" asp-append-version="true"></script>
    <script src="~/app/mapDirective.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>



}